<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Page Index</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap-icons/1.10.3/font/bootstrap-icons.css">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
                <a class="nav-link" href="#">Features</a>
                <a class="nav-link" href="#">Pricing</a>
                <a class="nav-link disabled">Disabled</a>
            </div>
        </div>
    </div>
</nav>
<h1 class="bg-danger">This is page Products</h1>
<div class="row">
    <div class="col col-md-6 p-3">
    <!--    <form th:action="@{/addProduct}" method="post" th:object="${product}">

            <labe class="form-label">Name</labe>
            <input class="form-control" type="text" th:field="*{productName}"/>
            <span class="text-danger" th:errors="${product.productName}" th:value="${product.productName}"></span>
            <labe class="form-label">Price</labe>
            <input class="form-control" type="text" th:field="*{price}"/>
            <span class="text-danger" th:errors="${product.price}" th:value="${product.price}"></span>
            <labe class="form-label">Quantity</labe>
            <input class="form-control" type="text" th:field="*{quantity}"/>
            <span class="text-danger" th:errors="${product.quantity}" th:value="${product.quantity}"></span>
            <button class="btn btn-primary" type="submit">Ajouter</button>
        </form>-->

        <form th:action="@{/editProduct}" method="post" >
            <div class="mb-3 mt-3">
                <label for="id" class="form-label">ID:</label>
                <label th:text="${product.id}"></label>
                <input type="hidden" class="form-control" id="id" placeholder="ID" name="id" th:value="${product.id}">
            </div>
            <div class="mb-3 mt-3">
            <labe class="form-label">Name</labe>
            <input class="form-control" type="text" id="productName" name="productName" th:value="${product.productName}"/>
            <span class="text-danger" th:errors="${product.productName}" th:value="${product.productName}"></span>
            </div>
            <div class="mb-3 mt-3">
            <labe class="form-label">Price</labe>
            <input class="form-control" type="text" id="price" name="price" th:value="${product.price}"/>
            <span class="text-danger" th:errors="${product.price}" th:value="${product.price}"></span>
            </div>
            <div class="mb-3 mt-3">
                <labe class="form-label">Quantity</labe>
            <input class="form-control" type="text" id="quantity" name="quantity" th:value="${product.quantity}"/>
            <span class="text-danger" th:errors="${product.quantity}" th:value="${product.quantity}"></span>
            </div>
                <button class="btn btn-primary" type="submit">Ajouter</button>
        </form>

    </div>

</div>
</body>
</html>