<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout.html">
<head>
    <meta charset="UTF-8">
    <title>Page Index</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap-icons/1.10.3/font/bootstrap-icons.css">
</head>
<body>
<div layout:fragment="content">
<h1 class="bg-danger">This is page Products</h1>
<div class="row">
    <div class="col col-md-6 p-3">
    <!--    <form th:action="@{/addProduct}" method="post" th:object="${product}">

            <labe class="form-label">Name</labe>
            <input class="form-control" type="text" th:field="*{productName}"/>
            <span class="text-danger" th:errors="${product.productName}" th:value="${product.productName}"></span>
            <labe class="form-label">Price</labe>
            <input class="form-control" type="text" th:field="*{price}"/>
            <span class="text-danger" th:errors="${product.price}" th:value="${product.price}"></span>
            <labe class="form-label">Quantity</labe>
            <input class="form-control" type="text" th:field="*{quantity}"/>
            <span class="text-danger" th:errors="${product.quantity}" th:value="${product.quantity}"></span>
            <button class="btn btn-primary" type="submit">Ajouter</button>
        </form>-->

        <form th:action="@{/editProduct}" method="post" >
            <div class="mb-3 mt-3">
                <label for="id" class="form-label">ID:</label>
                <label th:text="${product.id}"></label>
                <input type="hidden" class="form-control" id="id" placeholder="ID" name="id" th:value="${product.id}">
            </div>
            <div class="mb-3 mt-3">
            <labe class="form-label">Name</labe>
            <input class="form-control" type="text" id="productName" name="productName" th:value="${product.productName}"/>
            <span class="text-danger" th:errors="${product.productName}" th:value="${product.productName}"></span>
            </div>
            <div class="mb-3 mt-3">
            <labe class="form-label">Price</labe>
            <input class="form-control" type="text" id="price" name="price" th:value="${product.price}"/>
            <span class="text-danger" th:errors="${product.price}" th:value="${product.price}"></span>
            </div>
            <div class="mb-3 mt-3">
                <labe class="form-label">Quantity</labe>
            <input class="form-control" type="text" id="quantity" name="quantity" th:value="${product.quantity}"/>
            <span class="text-danger" th:errors="${product.quantity}" th:value="${product.quantity}"></span>
            </div>
                <button class="btn btn-primary" type="submit">Ajouter</button>
        </form>

    </div>

</div>
</div>
</body>
</html>