<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout.html">
<head>
    <meta charset="UTF-8">
    <title>Page Index</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap-icons/1.10.3/font/bootstrap-icons.css">

</head>
<body>
<div layout:fragment="content">
<div class="row mt-2 mx-auto">
    <div class="col-8">
        <div class="card">
            <div class="card card-header">
                This is page Products
            </div>
            <div class="card-body">
                <form method="get" th:href="@{/index}">
                    <ul class="nav nav-pills">
                        <li>
                            <label class="form-label">Keyword:</label>
                        </li>
                        <li>
                            <input type="text" class="form-control" name="keyword">
                        </li>
                        <li>
                            <button class="btn btn-info">
                                <i class="bi bi-search"></i>
                            </button>
                        </li>
                    </ul>
                </form>

                <table class="table">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Qte</th>
                        <th>Image</th>
                        <th colspan="2">Actions</th>

                    </tr>
                    <tr th:each="product : ${listProducts}">
                        <td th:text="${product.id}"></td>
                        <td th:text="${product.productName}"></td>
                        <td th:text="${product.price}"></td>
                        <td th:text="${product.quantity}"></td>
                        <td><img th:if="${product.image}" th:src="@{'images/'+${product.image}}"></td>

                        <td><a onclick="return confirm('Etes vous sûre?')" class="btn btn-danger"
                               th:href="@{/deleteProduct(id=${product.id},keyword=${keyword}, page=${currentPage})}"> <i class="bi bi-trash"></i></a></td>
                        <td><a th:href="@{/editProductee(id=${product.id})} " class="btn btn-info">
                            <i class="bi bi-pencil"></i></a></td>

                    </tr>


                </table>
                <ul class="nav nav-pills">
                    <li th:each="page,status:${pages}">
                        <a
                                th:class="${status.index==currentPage?'btn btn-info ms-1':'btn btn-outline-info ms-1'}"
                                th:href="@{/index(page=${status.index}, keyword=${keyword})}"
                                th:text="${status.index}">
                        </a>
                    </li>
                </ul>


            </div>

        </div>
    </div>
</div>

    <div>

           <select  id="mySelect"    >
               <option  th:each="cat:${cats}" th:with="idCat=${cat.id}" th:value="${cat.id}" th:text="${cat.nom}">

               </option>
           </select>


      <select  id="select2" name="idCategory">
            <option value="0">------select------</option>
        </select>

        <div class="row mt-5">
            <div class="col">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Launch simple modal
                </button>

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal1">
                    Dynamic modal 1
                </button>

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2">
                    Dynamic modal 2
                </button>


                <div  class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in,
                                egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
                      aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel1">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in,
                                egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div  class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2"
                      aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel2">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in,
                                egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
    <script>
        $('#exampleModal1').on('show.bs.modal', function () {

            $.get("/modals/modal1", function (data) {
                $('#exampleModal1').find('.modal-body').html(data);
            })
        });

        $('#exampleModal2').on('show.bs.modal', function () {
            var name = prompt("Please enter your name", "John Doe");
            $.get("/modals/modal2?name=" + name, function (data) {
                $('#exampleModal2').find('.modal-body').html(data);
            })
        })
    </script>
    <script>
        jQuery(document).ready(function($) {

            const select2=document.getElementById("select2");
            $("#mySelect").on('change', function() {
                $('#select2 option').remove();
                var idcat = $(this).val();
                if(idcat){
                    $.ajax ({
                        type: 'GET',
                        url: 'http://localhost:8989/api/products/getProductByCat',
                        data: { idCat: '' + idcat + '' },
                        success : function(htmlresponse) {
                            $('#opt_lesson_list').html(htmlresponse);
                            for(let i=0;i<htmlresponse.length;i++){
                                var opt = document.createElement('option');
                                opt.value = htmlresponse[i].id;
                                opt.innerHTML = htmlresponse[i].productName;
                                select2.appendChild(opt);
                                console.log(htmlresponse[i].productName)
                            }
                           // console.log(htmlresponse);
                        }
                    });
                }
            });
        });
        function myFunction() {
            const select1=document.getElementById("select1");

            var x = document.getElementById("mySelect").value;
            const a=document.createElement('a');
            a.type='a';
            a.style.display='none';
            //a.setAttribute("href","getProductByCat/"+x)
            select1.appendChild(a);
            a.click();
            $("a").click(function(){
                $.get("http://localhost:8989/getProductByCat/"+x, function(data, status){
                    alert("Data: " + data + "\nStatus: " + status);
                });
            });

            alert(x);
            //document.getElementById("demo").innerHTML = "You selected: " + x;
        }




    </script>

</div>

</body>
</html>