<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Page Index</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
                <a class="nav-link" href="#">Features</a>
                <a class="nav-link" href="#">Pricing</a>
                <a class="nav-link disabled">Disabled</a>
            </div>
        </div>
    </div>
</nav>
<h1 class="bg-danger">This is page Products</h1>
<div class="row">
    <div class="col col-md-6">
        <form th:action="@{/addProduct}" method="post" th:object="${product}">

            <labe class="form-label">Name</labe>
            <input class="form-control" type="text" th:field="*{productName}"/>
            <labe class="form-label">Price</labe>
            <input class="form-control" type="text" th:field="*{price}"/>
            <labe class="form-label">Quantity</labe>
            <input class="form-control" type="text" th:field="*{quantity}"/>
            <button class="btn btn-primary" type="submit">Ajouter</button>
        </form>


    </div>

</div>
</body>
</html>